TN2018/Apps/LoggingService/Schemas/XMLFormatter.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/xml/render/example" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/xml/render/example">
  <xsd:element name="InputElement" tibex:source="bw.xml.render">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="level" type="xsd:string"/>
        <xsd:element name="message" type="xsd:string"/>
        <xsd:element name="logger" type="xsd:string"/>
        <xsd:element name="timestamp" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
