Apps/CreditApp.module/Schemas/ExperianResponseSchemaResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1535671685533" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1535671685533">
  <complexType name="ExperianResponseSchemaElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="fiCOScore" type="integer"/>
      <element maxOccurs="1" minOccurs="0" name="rating" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="noOfInquiries" type="integer"/>
    </sequence>
  </complexType>
  <element name="ExperianResponseSchemaElement" type="tns:ExperianResponseSchemaElementType"/>
</schema>
